APP_ENV=testing
APP_KEY=

# PostgreSQL for Testing (Recomended for production-like testing)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=filament_starter_kit_test
DB_USERNAME=postgres
DB_PASSWORD=

# Alternatives: SQLite
# DB_CONNECTION=sqlite
# DB_DATABASE=:memory:

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array
BCRYPT_ROUNDS=4
